  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css" />
    <title>Book Notes</title>
  </head>
  <body>
    <div class="divNav">
        <h1><%= visibility %></h1>
        <div class="divSearchBack">
        <form class="searchBook" action="/search" method="post">
            <input type="text" name="searchTitle" placeholder="<%= locals.errorMsg  ? errorMsg: 'Book Title' %>" autocomplete="off" autofocus="true" />
          <div>
            <button type="submit" onclick="this.form.submit()">Search</button>
            <button type="submit" formaction="/back">Back</button>
          </div>
        </div>
          </form>
    </div>
    <div class="result">
      <!-- loop base on books length -->
        <% for(let searchItem of books){%>
          <% if (visibility == "Search Result/s") { %> 
          <!-- create a button with the book data inside from (searchResult) -->
            <div class="divSearch" hidden type="submit" onclick="document.forms['new<%= searchItem.id %>'].submit()"> 
            <form name="new<%= searchItem.id %>" action="/new" method="post">
            
            <input type="hidden" name="selectedId" value="<%= searchItem.id %>"/>
            
            <img class="bookCover" src="<%= searchItem.key %>" alt="">
            <h4>Title: <%= searchItem.title %></h4>
            <h4>Author: <%= searchItem.author %></h4>
            <% if (searchItem.rating && searchItem.review) {%>
            <h5>Rating: <%= searchItem.rating %></h5>
            <p>Review: <%= searchItem.review %></p>
            <% } %>
          </form>
        </div>
          
            <% } %>

            <% if(visibility == "Book Review/s") { %>  
          <!-- create a button with the book data inside from (database) -->
          <div class="divData" type="submit" onclick="document.forms['edit<%= searchItem.id %>'].submit()">  
          <form name="edit<%= searchItem.id %>" action="/edit" method="post">
            
                <input type="hidden" name="selectedId" value="<%= searchItem.id %>"/>
                <img class="bookCover" src="<%= searchItem.key %>" alt="">
                <h4>Title: <%= searchItem.title %></h4>
                <h4>Author: <%= searchItem.author %></h4>
                <% if (searchItem.rating && searchItem.review) {%>
                <h5>Rating: <%= searchItem.rating %></h5>
                <h5>Review: </h5><p><%= searchItem.review %></p>
                <% } %>
            </form>
          </div>   
            <% } %>
        <% } %>
        <!-- end of loop -->
    </div>

<!-- BELOW DATA CAN BE REMOVE BECAUSE IF STATEMENT ALREADY DECLARED ABOVE TO CHECK WHICH DIV TO SHOW/INSERT -->
    <!-- show divSearch -->
    <% if (visibility == "Search Result/s") { %> 
<!-- if should be outside the <script> tag so it can use the visibility that is being pass from the server -->
      <script>
        document.querySelector("h1").style.color = "Blue"
      for (let search of (document.getElementsByClassName("divSearch"))){
        search.removeAttribute("hidden")
      }
      for (let data of (document.getElementsByClassName("divData"))){
        data.setAttribute("hidden", true)
      }
      </script>
    <% } %>
  <!-- show divData -->
    <% if(visibility == "Book Review/s") { %>
  <!-- if should be outside the <script> tag so it can use the visibility that is being pass from the server -->
      <script>
        document.querySelector("h1").style.color = "Red"
        for (let search of (document.getElementsByClassName("divData"))){
        search.removeAttribute("hidden")
      }
      for (let data of (document.getElementsByClassName("divSearch"))){
        data.setAttribute("hidden", true)
      }
      </script>
    <% } %>
    <footer>Copyright © <%= new Date().getFullYear() %>
    </footer>
  </body>
  </html>