  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css" />
    <title>Book Notes</title>
  </head>
  <body>
    <div>
        <h1><%= visibility %></h1>
        <form class="searchBook" action="/search" method="post">
            <input type="text" name="searchTitle" placeholder="<%= locals.errorMsg  ? errorMsg: 'Book Title' %>" autocomplete="off" autofocus="true" />
            <button type="submit" onclick="this.form.submit()">Search</button>
            <button type="submit" formaction="/back">Back</button>
          </form>
    </div>
    <div class="result">
      <!-- loop base on books length -->
        <% for(let searchItem of books){%>
          <!-- create a button with the book data inside from (searchResult) -->
            <form action="/new"  method="post">
            <div class="divSearch" hidden>
            <button type="submit" onclick="this.form.submit()">
            <input type="hidden" name="selectedId" value="<%= searchItem.id %>"/>
            <%= searchItem.id %> <br/>
            <%= searchItem.title %><br/>
            <%= searchItem.author %><br/>
            <%= searchItem.key %><br/>
            <% if (searchItem.rating && searchItem.review) {%>
            <%= searchItem.rating %><br/>
            <%= searchItem.review %><br/>
            <% } %>
            </button>
            </div>
            </form>
          <!-- create a button with the book data inside from (database) -->
            <form action="/edit" method="post">
            <div class="divData">
                <button type="submit" onclick="this.form.submit()">
                <input type="hidden" name="selectedId" value="<%= searchItem.id %>"/>
                <%= searchItem.id %> <br/>
                <%= searchItem.title %><br/>
                <%= searchItem.author %><br/>
                <%= searchItem.key %><br/>
                <% if (searchItem.rating && searchItem.review) {%>
                <%= searchItem.rating %><br/>
                <%= searchItem.review %><br/>
                <% } %>
                </button>
                </div>
            </form>
        <% } %>
        <!-- end of loop -->
    </div>
    <!-- show divSearch -->
    <% if (visibility == "Search Result/s") { %> 
<!-- if should be outside the <script> tag so it can use the visibility that is being pass from the server -->
      <script>
        document.querySelector("h1").style.color = "Blue"
      for (let search of (document.getElementsByClassName("divSearch"))){
        search.removeAttribute("hidden")
      }
      for (let data of (document.getElementsByClassName("divData"))){
        data.setAttribute("hidden", true)
      }
      </script>
    <% } %>
  <!-- show divData -->
    <% if(visibility == "Book Review/s") { %>
  <!-- if should be outside the <script> tag so it can use the visibility that is being pass from the server -->
      <script>
        document.querySelector("h1").style.color = "Red"
        for (let search of (document.getElementsByClassName("divData"))){
        search.removeAttribute("hidden")
      }
      for (let data of (document.getElementsByClassName("divSearch"))){
        data.setAttribute("hidden", true)
      }
      </script>
    <% } %>
    <footer>Copyright © <%= new Date().getFullYear() %>
    </footer>
  </body>
  </html>